@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Ajusta la duración y el tipo de transición según tus preferencias */
}
  
nav.active {
    max-height: 500px; /* Ajusta la altura máxima que prefieras */
}