@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
nav {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out; /* Ajusta la duración y el tipo de transición según tus preferencias */
}
  
nav.active {
    max-height: 500px; /* Ajusta la altura máxima que prefieras */
}

.btn-primary{    
    @apply uppercase rounded bg-lime-100 text-gray-700 px-12 py-3 font-bold mt-10 shadow-lg shadow-gray-500/50 flex items-center ease-linear duration-200
}
.btn-primary:hover{    
    @apply -translate-y-3 bg-lime-300
}